# -----------------------------
# Core data handling
# -----------------------------
datasets
pandas
numpy
tqdm

# -----------------------------
# NLP preprocessing
# -----------------------------
nltk
regex

# -----------------------------
# Embeddings & retrieval
# -----------------------------
faiss-cpu
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-groq
langsmith

sentence-transformers

scikit-learn

# -----------------------------
# Text generation / LLMs
# -----------------------------
transformers
torch
torchvision
torchaudio

accelerate
safetensors

# -----------------------------
# Text extraction
# -----------------------------
pdfplumber
pypdf

# -----------------------------
# UI / Visualization
# -----------------------------
streamlit
plotly
chainlit

# -----------------------------
# Evaluation & utilities
# -----------------------------
evaluate
rouge-score
python-dotenv
